<div class="row pb-5 nouveaute-section">
  <div class="col-12 text-center">
    <h2 class="display-4">Nouveauté : Livraison Partout dans le Monde 🌍</h2>
    <p class="lead">
      Nous sommes ravis d'annoncer notre partenariat avec la plus grande entreprise de livraison et de distribution mondiale, <strong>FedEx</strong>. Grâce à ce partenariat, nous pouvons désormais offrir un service de livraison dans le monde entier à nos clients.
    </p>
    <img src="assets/livraison.png" class="img-fluid" alt="Partenariat avec FeedEx">

    <div class="row mt-4">
      <div class="col-md-4">
        <div class="icon-container">
          <img src="assets/logo-shop.png" class="img-fluid" alt="Shopping">
          <p>Facilité d'achat partout dans le monde</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="assets/partenariat.png" class="img-fluid" alt="Partenariat">
          <p>Un partenariat de confiance</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-container">
          <img src="assets/FedEx.png" class="img-fluid" alt="FeedEx">
          <p>Livraison rapide et sécurisée</p>
        </div>
      </div>
    </div>
  </div>
</div>
