.nouveaute-section {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 8px;
  max-width: 100%;
}

.nouveaute-section h2 {
  color: #343a40;
  margin-bottom: 20px;
}

.nouveaute-section .lead {
  color: #6c757d;
}

.icon-container {
  text-align: center;
  margin-top: 20px;
}

.icon-container img {
  width: 80px;
  margin-bottom: 10px;
}

.icon-container p {
  color: #495057;
  font-weight: bold;
}
